﻿@model Models.UI.AuthorsUx


@{
    ViewBag.Title = "authors_list";
}

<h3>@ViewBag.Message</h3>

@using( Html.BeginForm( Routes.AddAuthor, RoutePrefixes.Author, FormMethod.Post, new { enctype = "multipart/form-data" } ) )
{
    @Html.HiddenFor(m => m.AuthorToAdd.Id );

    @Html.AntiForgeryToken()

    @Html.TextBoxFor( m => m.AuthorToAdd.Name, new { @class = "form-control", @placeholder = "Name" } )
    @Html.TextBoxFor( m => m.AuthorToAdd.MiddleName, new { @class = "form-control", @placeholder = "Mid Name" } )
    @Html.TextBoxFor( m => m.AuthorToAdd.LastName, new { @class = "form-control", @placeholder = "Last name" } )
    @Html.TextBoxFor( m => m.AuthorToAdd.DateOfBirth, new { @class = "form-control", @placeholder = "Date of birth" } )
    
    <input type="submit" value="Submit" />
}

<ul class="list-group">

    @foreach( var au in Model.AuthorsList )
    {
        <div class="row">
            <li class="list-group-item">
                @string.Format( "{0}  {1}", au.Name, au.LastName );
            </li>
        </div>
    }

</ul>
