﻿@model Models.User

<div> 
    <h3>@ViewBag.Message</h3>

    @using( Html.BeginForm( Routes.Login, RoutePrefixes.Login, FormMethod.Post, new { enctype = "multipart/form-data" } ) )
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor( m => m.Email, new { @class = "form-control", @placeholder = "Email" } )
        @Html.PasswordFor( m => m.Password, new { @class = "form-control", @placeholder = "Password" } )

        <input type="submit" value="Submit"/>
    }
</div>