﻿@model Models.User

@Scripts.Render( "~/bundles/jquery" )
<div>
    <h3>@ViewBag.Message</h3>

    @using( Html.BeginForm( Routes.RegisterUser, RoutePrefixes.Login, FormMethod.Post, new { enctype = "multipart/form-data" } ) )
    {
        @Html.AntiForgeryToken()

        @Html.TextBoxFor( m => m.Name, new { @class = "form-control", @placeholder="Name"} )
        @Html.TextBoxFor( m => m.LastName, new { @class = "form-control", @placeholder = "Last Name" } )
        @Html.TextBoxFor( m => m.NickName, new { @class = "form-control", @placeholder = "Nick Name" } )
        @Html.TextBoxFor( m => m.DateOfBirth, new { @class = "form-control", @placeholder = "Date of birth" } )
        @Html.TextBoxFor( m => m.Email, new { @class = "form-control", @placeholder = "Email" } )

        @Html.PasswordFor( m => m.Password, new { @class = "form-control", @placeholder = "Password" } )

        <input type="submit" value="Submit" />
    }

</div>